.card-content-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    

}
span{
    & > *{
        width: 1.3em;
        height: 1.3em;
        color: white;
    }
}
.card{
    
    transition: all .4s ease-out;
    &:hover{
        box-shadow: rgba(17, 12, 46, 0.1) 0px 48px 100px 0px;
    }
}